
#As informações presentes nesse arquivo servem de base para o .env da sua máquina
#Troque as informações necessárias para configurar o seu ambiente
#as informações aqui são fictícias

# Configurações do Servidor

SERVER_PORT=8080

# Configurações de Banco de Dados

DATASOURCE_URL=jdbc:postgresql://localhost:5432/nome_do_banco_aqui
DATASOURCE_USERNAME=seu_usuario_aqui
DATASOURCE_PASSWORD=sua_senha_aqui

# Configurações MinIo

MINIO_URL=http://localhost:9000
MINIO_ACCESS_KEY=apae_admin
MINIO_SECRET_KEY=apae_secret123
MINIO_BUCKET=professores

# Configurações / Credenciais do Admin
ADMIN_EMAIL=admin@apae.com.br
ADMIN_PASS=senha_do_admin

# Segurança (JWT)

JWT_SECRET=chave_secreta_hexadecimal_jwt_aqui
JWT_EXPIRATION=86400000
