# Dependências
node_modules/

# Build do Next.js
.next/
out/

# Controle de versão
.git/
.gitignore

# Variáveis de ambiente locais
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.swp
*.swo

# Sistema operacional
.DS_Store
Thumbs.db